<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="sysmatechSuite" thread-count="5">
	
	<!--  <listeners>
            <listener class-name="com.sysmatech.PageObject.RetryListener"/>
        </listeners>   --> 
  <test  name="sysmatechTest">
	  <parameter name="browser" value="chrome"></parameter>
    <classes> 
		
	<!--       
		       <class name="com.sysmatech.TestCases.Tc_Settings_Depreciation_Delete_019"/>         -->
 
   <!--           <class name="com.sysmatech.TestCases.Tc_LoginTest_001"/>
            <class name="com.sysmatech.TestCases.Tc_LoginDDT_002"/>
            <class name="com.sysmatech.TestCases.Tc_Settings_AddCompanyTest_003"/> 
            <class name="com.sysmatech.TestCases.Tc_Settings_CreateCategory_004"/>   -->
            
             <class name="com.sysmatech.TestCases.Tc_Settings_ManufacturerCreate_005"/>  
             <class name="com.sysmatech.TestCases.Tc_Settings_ManufacturerDelete_006"/> 
             <class name="com.sysmatech.TestCases.Tc_Settings_ManufacturerUpdate_007"/> 
             <class name="com.sysmatech.TestCases.Tc_Settings_ManufacturerViewDelete_008"/>
          
            <class name="com.sysmatech.TestCases.Tc_Settings_SupplierCreate_009"/> 
            <class name="com.sysmatech.TestCases.Tc_Settings_SupplierDelete_010"/> 
            <class name="com.sysmatech.TestCases.Tc_Settings_SupplierUpdate_011"/>
             
            <class name="com.sysmatech.TestCases.Tc_Settings_StatusLabelsCreate_012"/>     
            <class name="com.sysmatech.TestCases.Tc_Settings_StatusLabelsDelete_013"/>
            <class name="com.sysmatech.TestCases.Tc_Settings_StatusLabelsUpdate_0014"/> 
          
            <class name="com.sysmatech.TestCases.Tc_Settings_DepertmentsCreate_055"/>    
            <class name="com.sysmatech.TestCases.Tc_Settings_DepartmentDelete_15"/> 
            <class name="com.sysmatech.TestCases.Tc_Settings_DepartMentsUpdate_016"/> 
                                                                                                                    
            <class name="com.sysmatech.TestCases.Tc_Settings_DepreciationCreate_018"/>             
            <class name="com.sysmatech.TestCases.Tc_Settings_Depreciation_Update_020"/> 
            
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrder_StatusesCreate_021"/>        
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrder_StatusesDelete_022"/> 
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrder_StatusesUpdate_023"/> 
           
            <class name="com.sysmatech.TestCases.Tc_Settings_CustomFieldCreateNew_024"/>   
            <class name="com.sysmatech.TestCases.Tc_Settings_CustomFieldsCreate_025"/>    
            <class name="com.sysmatech.TestCases.Tc_Settings_CustomFieldDelete_026"/> 
           
            <class name="com.sysmatech.TestCases.Tc_Asset_Create_034"/> 
            <class name="com.sysmatech.TestCases.Tc_Asset_Edit_035"/> 
            <class name="com.sysmatech.TestCases.Tc_Asset_Copy_036"/>     
            <class name="com.sysmatech.TestCases.Tc_Asset_Delete_037"/>
            <class name="com.sysmatech.TestCases.Tc_Asset_DeleteInBulk_038"/>         
            <class name="com.sysmatech.TestCases.Tc_Asset_GenerateLabelsCreate_039"/>   
            <class name="com.sysmatech.TestCases.Tc_Asset_BulkCheckOut_040"/>    
                         
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrderPriorityCreate_055"/>
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrderPriority_Update_056"/>
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrderPriority_Delete_057"/> 
           
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrder_CategoriesCreate_058"/>
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrder_CategoriesUpdate_59"/>
            <class name="com.sysmatech.TestCases.Tc_Settings_WorkOrderCategories_Delete_060"/>  
           
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsCreate_027"/>    
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsClone_028"/>  
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsUpdate_029"/> 
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsDelete_030"/>  
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsBulkEdit_031"/>  
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsBulkDelete_032"/>   
            <class name="com.sysmatech.TestCases.Tc_Settings_AssetModelsViewDelete_033"/>
                  
            <class name="com.sysmatech.TestCases.Tc_CreatePMAuditParameter_041"/> 
            <class name="com.sysmatech.TestCases.Tc_CPMParaMeterNumber_042"/>
                          
            <class name="com.sysmatech.TestCases.Tc_ParameterMaster_CloneTest_043"/>                     
            <class name="com.sysmatech.TestCases.Tc_ParameterMaster_Delete_044"/>
            <class name="com.sysmatech.TestCases.Tc_ParameterMaster_Update_045"/>
            
            <class name="com.sysmatech.TestCases.Tc_Settings_PreventiveMaintenance_ConfigCreate_046"/>   
            <class name="com.sysmatech.TestCases.Tc_Settings_PreventiveMaintenance_Clone_047"/>   
            <class name="com.sysmatech.TestCases.Tc_Settings_preventiveMaintenance_ConfigUpdate_048"/>    
            <class name="com.sysmatech.TestCases.Tc_Settings_PreventiveMaintenanceConfig_Delete_049"/>  
          
            <class name="com.sysmatech.TestCases.Tc_CreatePreventiveMaintenanceScheduler_050"/>   
            <class name="com.sysmatech.TestCases.Tc_PM_Scheduler_Clone_051"/>    
            <class name="com.sysmatech.TestCases.Tc_PM_Scheduler_Update_052"/>   
            <class name="com.sysmatech.TestCases.Tc_PM_Scheduler_Delete_053"/>                   
                   
          
           
         
 
 
 
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
